@import "../constants/colors.scss";

.wrapper {
    height: 100%;
    width: 100%;

    position: relative;
}

.image-container {
    position: absolute;

    z-index: 10;

    overflow-y: hidden;
    height: calc(100vh - 4px);
    width: 100%;
}

.image {
    width: 100%;

    opacity: 5%;

    object-fit: cover;
//    object-position: 50% 30%;
}

.container {
    position: absolute;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    h1 {
        font-family: "e-Ukraine-medium";
        font-size: 64px;
        color: white;

        width: min-content;
    }
}

@keyframes zoom-in {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1.1, 1.1);
    }
}