@import "./constants/colors.scss";

@font-face {
    font-family: "e-Ukraine-ultra-light";
    src: url("./fonts/e-Ukraine-UltraLight.otf") format("opentype");
}

@font-face {
    font-family: "e-Ukraine-thin";
    src: url("./fonts/e-Ukraine-Thin.otf") format("opentype");
}

@font-face {
    font-family: "e-Ukraine-regular";
    src: url("./fonts/e-Ukraine-Regular.otf") format("opentype");
}

@font-face {
    font-family: "e-Ukraine Medium";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/e-Ukraine-Medium.otf") format("opentype");
}

@font-face {
    font-family: "e-Ukraine-light";
    src: url("./fonts/e-Ukraine-Light.otf") format("opentype");
}

@font-face {
    font-family: "e-Ukraine-bold";
    src: url("./fonts/e-Ukraine-Bold.otf") format("opentype");
}

html {
    background: $darkGray;
    scroll-behavior: smooth;
    font-family: "e-Ukraine-regular";
}

body {
    margin: 0;
    padding: 0;

    overflow: hidden;
}

button,
input {
  outline: none;
  border: none;
}
