@import "../../constants/colors.scss";

.wrapper-pages {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-evenly;

  button {
    background: $lightGray;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    color: white;
    
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.arrow_enabled {
  opacity: 1;
}

.arrow_disabled {
  opacity: 0.2;
  transition: opacity 300ms ease-in;
}

.container-wrapper-pages {
  height: 100%;
}

.container-pages {
  height: 75vh;
  width: 120vh;
}
