.wrapper__timeline {
    position: absolute;
    visibility: hidden;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;

    width: 120vh;

    top: 54px;
    z-index: 0;

    background-color: #202020;
    padding: 3px;
}